/*
===================
    전체 레이아웃
===================
*/

body {
  margin: 0;
  height: 92vh;
  background-color: #000;
  color: #f2f2f2;
  font-family: "Gowun Batang", "Merriweather", "Arimo", sans-serif;
  font-style: normal;
}

.container {
  display: flex;
  height: 100%;
  margin: 0 auto; /* 가운데 */
  padding: 70px 300px; /* 좌우 여백 */
  box-sizing: border-box;

  align-items: center;
}

.calendar-area {
  flex: 6;
  margin-right: 23px;
}

.items-area {
  flex: 4;
  border-left: 2px dashed #3c3c3c;
  padding-left: 25px;
}

/*
==============
    캘린더
==============
*/
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.nav {
  cursor: pointer;
  font-size: 18px;
}

.month-title {
  font-size: 18px;
  font-weight: bold;
}

.calendar-weekdays,
.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-weekdays div {
  text-align: center;
  padding: 8px 0;
}

.calendar-days {
  gap: 6px;
}

/* 날짜 셀 */
.calendar-day {
  position: relative; /* dot 기준 */
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sun {
  color: #ff5c5c;
}

.sat {
  color: #4aa3ff;
}

.calendar-day.selected {
  background-color: #1c1c1c;
  border: none;
  border-radius: 15px;
  /* border-color: #39443e; */
  color: #ffffff;
}

/*
===================
    날짜 하단 점 
===================
*/
.day-dots {
  position: absolute;
  bottom: 4px;
  display: flex;
  gap: 3px;
}

/* 공통 dot */
.calendar-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

/* dot 색상은 CSS에서만 관리 */
.calendar-dot.food {
  background-color: #5f9b78;
}

.calendar-dot.activity {
  background-color: #46855e;
}

.calendar-dot.memo {
  background-color: #2f5d43;
}

/*
===================
    공통 UI 요소
===================
*/
button {
  font-family: "Gowun Batang", "Merriweather", "Arimo", sans-serif;
  font-style: normal;
  font-weight: bold;
  margin-left: 10px;
  background: #46855e;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 4px 10px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.6;
  cursor: default;
}

textarea,
.add-form input,
.add-form select,
.walk-inputs input {
  font-family: "Gowun Batang", "Merriweather", "Arimo", sans-serif;
  font-style: normal;
  background-color: #1c1c1c;
  color: #fff;
  margin-right: 5px;
  margin-top: 3px;
  margin-bottom: 5px;
  padding: 4px 10px;
  border: none;
  border-radius: 5px;
}

.add-form input {
  width: 100px;
}

textarea {
  width: 300px;
  height: 100px;
}

.walk-inputs input {
  width: 50px;
}

/*
=================
    체크박스
=================
*/
.checkbox {
  width: 17px;
  height: 17px;
  background-color: #1c1c1c;
  border: none;
  border-radius: 25%;
  margin-right: 8px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox:hover {
  background-color: #2a2a2a;
}

.checkbox-icon.material-symbols-rounded {
  font-size: 18px;
  color: #ffffff;
  opacity: 0;
  transition: opacity 0.15s ease;
}

.checkbox.checked {
  background-color: #46855e;
}

.checkbox.checked .checkbox-icon {
  opacity: 1;
}

/*
=================
    items
=================
*/
/* item 한 줄 */
.item-row {
  display: flex;
  align-items: center;
  font-size: 15px;
}

/* Section 날짜 */
.section-title {
  font-size: 18px;
  font-weight: bold;
}

/* Section 제목 */
.section-header {
  display: flex;
  align-items: center;
  margin-top: 30px; /* 제목 간(top) 사이 */
  margin-bottom: 7px;
  padding-bottom: 1px; /* 제목과 border 선 사이 */
  gap: 15px; /* 제목 ↔ + 버튼 */
  border-bottom: 1px solid #1c1c1c;
  font-size: 16px;
  font-weight: bold;
}

/* + 버튼 */
.add-btn {
  cursor: pointer;
  color: #e3e3e3;
  user-select: none;

  /* 클릭 영역 확보 */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.add-btn.material-symbols-rounded {
  font-size: 20px;
}

.add-btn:hover {
  color: #8ac19f;
}

.add-btn:active {
  transform: scale(0.96);
}
