<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Daily Record</title>
    <link rel="stylesheet" href="/static/css/main.css" />
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Gowun+Batang&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap"
      rel="stylesheet"
    />
    <!-- google icon -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <div id="container" class="container">
      <div id="calendar-area" class="calendar-area"></div>
      <div id="items-area" class="items-area">항목 영역</div>
    </div>

    <script src="/static/js/api.js"></script>
    <script type="module" src="/static/js/calendar.js"></script>
    <script type="module" src="/static/js/app.js"></script>
  </body>
</html>
