<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Daily Record</title>
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    <div id="container" class="container">
      <div id="calendar-area" class="calendar-area"></div>
      <div id="items-area" class="items-area">항목 영역</div>
    </div>

    <script src="/static/js/api.js"></script>
    <script src="/static/js/items.js"></script>
    <script src="/static/js/calendar.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>
